/* body{

} */
#container{
color:rgb(239, 151, 19);
font-size: 5rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: aquamarine;

height:100vh;
width:100vw;






}
#wrapper{
border:4px solid black;
background-color: bisque;
padding:16px;



}
.container span{



    margin-left:10px;

}
#ampm{
font-size: 3rem;
align-items: end;



}